In [ ]:
                                                       NUMBERS

In [ ]:
# Math is what you would expect

In [1]:
2 + 2

4

In [2]:
50 - 5*7

15

In [1]:
(50 - 5*7) / 4

3.75

In [ ]:
# The result of division is always a float

In [2]:
8 / 4

2.0

In [3]:
17 / 3

5.666666666666667

In [ ]:
# Result of integer division truncated down both for positive and negative.

In [4]:
17 // 3

5

In [6]:
-5 / 3

-1.6666666666666667

In [ ]:
# Modulo operation

In [7]:
7 % 3

1

In [ ]:
# Exponentiation (x**y, x to the yth power)

In [8]:
5 ** 2

25

In [ ]:
# Boolean values are primitives (Note: the capitalization)

In [ ]:
True

In [ ]:
False

In [ ]:
# negate with not

In [9]:
not True

False

In [10]:
not False

True

In [ ]:
# True and False are actually 1 and 0 but with different keywords

In [11]:
True + True

2

In [12]:
True * 8

8

In [13]:
False - 5

-5

In [ ]:
# Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned

In [14]:
bool(0)

False

In [15]:
bool(-5)

True

In [16]:
0 and 2

0

In [17]:
-5 or 0

-5

In [ ]:
# Equality is ==

In [18]:
1 == 1

True

In [19]:
1 == 2

False

In [ ]:
# Inequality is !=

In [20]:
1 != 1

False

In [21]:
2 != 1

True

In [ ]:
# More comparisons

In [22]:
1 < 10

True

In [23]:
1 > 10

False

In [24]:
2 <= 2

True

In [25]:
3 <= 2

False

In [ ]:
# Seeing whether a value is in a range

In [26]:
1 < 2 and 2 < 3

True

In [27]:
2 < 3 and 3 < 2

False

In [ ]:
# Chaining makes this look nicer

In [28]:
1 < 2 < 3

True

In [ ]:
                                                    VARIABLES

In [ ]:
# A variable name must start with a letter or the underscore character

In [ ]:
# A variable name cannot start with a number

In [ ]:
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

In [ ]:
# Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#The Python print statement is often used to output variables.

In [29]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [30]:
x = 5
y = 10
print(x + y)

15

In [31]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# (is vs. ==) is checks if two variables refer to the same object, but == checks if the objects pointed to have the same values.

In [32]:
a = [1,2,3,4]
b = a
b is a

True

In [33]:
a = [1,2,3,4]
b = a
b == a

True

In [34]:
a = [1,2,3,4]
b = [1,2,3,4]
b is a

False

In [35]:
a = [1,2,3,4]
b = [1,2,3,4]
b == a

True

In [ ]:
                                                  STRINGS

In [ ]:
# Strings are created with " or '

In [ ]:
"This is a string."

In [ ]:
'This is also a string.'

In [ ]:
# Strings can be added too! But try not to do this.

In [36]:
"Hello " + "world!"

'Hello world!'

In [ ]:
# String literals (but not variables) can be concatenated without using '+'

In [37]:
"Hello " "world!"

'Hello world!'

In [ ]:
# A string can be treated like a list of characters

In [38]:
"This is a string"[-1]

'T'

In [39]:
"This is a string"[50]

IndexError: string index out of range

In [42]:
"This is a string"[-50]

IndexError: string index out of range

In [ ]:
#In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring:

In [57]:
"This is a string"[-4:-5]  # characters from position 0 (included) to 2 (excluded)

''

In [46]:
"word"[0:]   # character from the beginning to position 2 (excluded)

'word'

In [48]:
"word"[0:42]

'word'

In [ ]:
# You can find the length of a string

In [49]:
len("This is a string")

16

In [ ]:
# .format can be used to format strings, like this:

In [50]:
"{} can be {}".format("Strings", "interpolated")

'Strings can be interpolated'

In [ ]:
# You can repeat the formatting arguments to save some typing.

In [52]:
"{0} be nimble, {0} be quic'k, {0} jump over the {1}".format("Jack", "candle stick")

"Jack be nimble, Jack be quic'k, Jack jump over the candle stick"

In [ ]:
# You can use keywords if you don't want to count.

In [53]:
"{name} wants to eat {food}".format(name="Bob", food="lasagna")

'Bob wants to eat lasagna'

In [ ]:
#Python strings cannot be changed â€” they are immutable.

In [54]:
"word"[0] = 'J'

TypeError: 'str' object does not support item assignment

In [65]:
tuple(valid_dict.keys())

((1, 2, 3),)

In [67]:
type({})

dict

In [68]:
class MyClass:
  x = 5

In [69]:
p1 = MyClass()
print(p1.x)

5

In [72]:
class Person:
  def __init__(name, age):
    name = name
    age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

TypeError: __init__() takes 2 positional arguments but 3 were given

In [73]:
class MyClass:
  x = 5

In [75]:
p1 = MyClass()
print(p1.x)

5

In [83]:
class Person:
  def __init__(self):
    print('executed')

p1 = Person()

executed

In [77]:
class Dog:
    def __init__(self,breed):
        self.breed = breed
        
sam = Dog(breed='Lab')
frank = Dog(breed='Huskie')

In [78]:
sam.breed

'Lab'

In [79]:
frank.breed

'Huskie'

In [84]:
sam.breed = 'd'

In [85]:
sam.breed

'd'

In [86]:
del sam.breed

In [87]:
sam.breed

AttributeError: 'Dog' object has no attribute 'breed'

In [88]:
 del sam

In [89]:
sam

NameError: name 'sam' is not defined

In [91]:
for animal in ("dog", "cat", "mouse"):
    # You can use format() to interpolate formatted strings
    print("{} is a mammal".format(animal))

dog is a mammal
cat is a mammal
mouse is a mammal

In [99]:
for i in range(1,5,-1):
    print(i)

In [104]:
# Here x is a new reference to same list lst 
def myFun(x): 
    x = [10, 11, 12] 
# Driver Code (Note that lst is modified 
# after function call. 
lst = [10, 11, 12, 13, 14, 15] 
myFun(lst); 
print(lst)

[10, 11, 12]
[10, 11, 12, 13, 14, 15]

In [107]:
# Python program to demonstrate Keyword Arguments 
def student(firstname, lastname): 
    print(firstname, lastname) 


# Keyword arguments				 
student(firstname ='Geeks', lastname ='Practice')	 
student(lastname ='Practice', firstname ='Geeks')

Geeks Practice
Geeks Practice