# pandas

In [46]:
# 1. pandas is library built on top of numpy
# 2. it allows for fast analysis and data cleaning and prepration
# 3. built in visualization features
# 4. can work with data from wide variety of sources

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [51]:
my_list = [1,2,3]
np_arr = np.array(my_list)

In [52]:
pd.Series(data=my_list)

0    1
1    2
2    3
dtype: int64

In [53]:
labels = ['a','b','c']

In [54]:
pd.Series(data=my_list, index=labels)

a    1
b    2
c    3
dtype: int64

In [55]:
np_arr

array([1, 2, 3])

In [56]:
pd.Series(np_arr)

0    1
1    2
2    3
dtype: int32

In [57]:
my_dict = {'a':10,'b':20,'c':30} 
my_dict

{'a': 10, 'b': 20, 'c': 30}

In [58]:
pd.Series(my_dict)

a    10
b    20
c    30
dtype: int64

In [59]:
my_dict

{'a': 10, 'b': 20, 'c': 30}

In [60]:
ser_data = [10,20,30,30]
ser_arr = np.array(ser_data)

In [61]:
series_data = pd.Series(ser_arr,['Delhi','Mumbai','Mohali','Chandigarh'])

In [ ]:
series_data

In [ ]:
## data frames

In [62]:
from numpy.random import randn

In [ ]:
np.random.seed(2)

In [95]:
ser_data = [[500,45455121,5],[300,6545643543,5],[650,8847451,4.5]]
ser_arr = np.array(ser_data)
ser_arr.shape
#ser_arr = np.reshape(ser_arr, (1,len(ser_arr)))

(3, 3)

In [98]:
cities = ['mohali','','panchkula']

In [99]:
attribs = ['area','population','rating']

In [ ]:
##creating df

In [100]:
df = pd.DataFrame(data=ser_arr, index=cities, columns=attribs)

In [101]:
df

            area    population  rating
mohali     500.0  4.545512e+07     5.0
           300.0  6.545644e+09     5.0
panchkula  650.0  8.847451e+06     4.5

In [68]:
df['area'] #column name, type check, multiple

mohali        500.0
chandigarh    300.0
panchkula     650.0
Name: area, dtype: float64

In [ ]:
df.area

In [ ]:
df['density'] = df['population']/df['area']

In [ ]:
df

In [ ]:
##deletion

In [ ]:
df.drop('density',axis=1)

In [ ]:
df

In [ ]:
df.drop('density',axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.drop('mohali')

In [ ]:
df.shape

In [ ]:
##slicing and selection

In [ ]:
df.loc['mohali','area']   #by row, column names

In [ ]:
df.loc[['mohali','chandigarh'],['area']]

In [ ]:
df.iloc[0:2]            #by index

In [ ]:
##conditional selection

In [ ]:
df

In [ ]:
df < 5

In [ ]:
df[df < 5]

In [ ]:
df['rating'] < 5

In [ ]:
df[df['rating'] < 5]

In [ ]:
df[(df['rating'] > 4 ) & (df['area'] >= 500)]

In [69]:
df

             area    population  rating
mohali      500.0  4.545512e+07     5.0
chandigarh  300.0  6.545644e+09     5.0
panchkula   650.0  8.847451e+06     4.5

In [70]:
df.reset_index()

        index   area    population  rating
0      mohali  500.0  4.545512e+07     5.0
1  chandigarh  300.0  6.545644e+09     5.0
2   panchkula  650.0  8.847451e+06     4.5

In [102]:
df.reset_index(inplace=True)

       index   area    population  rating
0     mohali  500.0  4.545512e+07     5.0
1             300.0  6.545644e+09     5.0
2  panchkula  650.0  8.847451e+06     4.5

In [72]:
df.set_index('area',inplace=True)

In [73]:
df

         population  rating
area
500.0  4.545512e+07     5.0
300.0  6.545644e+09     5.0
650.0  8.847451e+06     4.5

In [74]:
df.index

Float64Index([500.0, 300.0, 650.0], dtype='float64', name='area')

In [75]:
df.loc[500]

population    45455121.0
rating               5.0
Name: 500.0, dtype: float64

In [83]:
df

             area    population  rating
mohali      500.0  4.545512e+07     5.0
chandigarh  300.0  6.545644e+09     5.0
panchkula   650.0  8.847451e+06     4.5

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
index         3 non-null object
area          3 non-null float64
population    3 non-null float64
rating        3 non-null float64
dtypes: float64(3), object(1)
memory usage: 176.0+ bytes

In [107]:
type(df)

pandas.core.frame.DataFrame

In [114]:
df.select_dtypes("float64").columns

Index(['area', 'population', 'rating'], dtype='object')

In [104]:
df.describe(include='all')

            index        area    population    rating
count           3    3.000000  3.000000e+00  3.000000
unique          3         NaN           NaN       NaN
top     panchkula         NaN           NaN       NaN
freq            1         NaN           NaN       NaN
mean          NaN  483.333333  2.199982e+09  4.833333
std           NaN  175.594229  3.763498e+09  0.288675
min           NaN  300.000000  8.847451e+06  4.500000
25%           NaN  400.000000  2.715129e+07  4.750000
50%           NaN  500.000000  4.545512e+07  5.000000
75%           NaN  575.000000  3.295549e+09  5.000000
max           NaN  650.000000  6.545644e+09  5.000000

In [90]:
df

             area    population  rating
mohali      500.0  4.545512e+07     5.0
chandigarh  300.0  6.545644e+09     5.0
panchkula   650.0  8.847451e+06     4.5