In [3]:
import numpy as np
import pandas as pd

In [12]:
a=pd.Series([1,2,3,3])

In [15]:
a*2

0    2
1    4
2    6
3    6
dtype: int64

In [23]:
np.arange(100).reshape((5,20))

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
        36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55,
        56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75,
        76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95,
        96, 97, 98, 99]])

In [30]:
a=pd.DataFrame({"A":[x for x in range(3)],"B":[1,2,3],"C":[1,2,3]})

In [38]:
pd.read_clipboard()

C:\Users\admin\Anaconda3\lib\site-packages\pandas\io\clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

   Levels  Salary
0       1   30000
1       2   60000
2       3   90000
3       4  120000
4       5  150000
5       6  180000
6       7  210000
7       8  240000
8       9  270000
9      10  300000

In [2]:
pd.read_csv("Book1.csv")

NameError: name 'pd' is not defined

In [6]:
df=pd.read_excel("Book1.xlsx")

In [14]:
df1=df[["Salary","Levels"]]

In [17]:
df1.to_csv("abc.csv")

In [19]:
df.to_json("ab.json")

In [32]:
df=pd.read_clipboard()

C:\Users\admin\Anaconda3\lib\site-packages\pandas\io\clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

In [33]:
df.groupby("City").sum()

        Number  Gender
City
mumbai     180       1
nagpur     120       2
pune       150       2

In [27]:
df.City.unique()

array(['nagpur', 'pune', 'mumbai'], dtype=object)

In [38]:
df.Gender.replace([0,1],['M','F'])

0    F
1    M
2    F
3    M
4    F
5    M
6    F
7    F
8    M
Name: Gender, dtype: object