# Day 3
if..else, 
While loop, 
For loop, 
Functions, 
Lambda, 
Classes/Objects

In [2]:
if 10>9:
    print("Hello")

Hello

In [3]:
a,b=10,20

In [5]:
if True:
    pass
else:
    pass

In [ ]:
if True:
    pass
elif:

In [6]:
z= a if 10>20 else b

In [9]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [3]:
for x in range(10):
    print(x)
else:
    print("end")

0

In [14]:
a=[1,2,3,4,5,6]
for x in [1,2,3]:
    print(x)

1
2
3

In [20]:
a=[(1,2,5),(3,4,5)]
for x,y,z in a:
    print(x,y,z)

1 2 5
3 4 5

In [25]:
d={"a":1,"b":2}
for x,y in d.items():
    print(x,y)

a 1
b 2

In [9]:
a=1
while a>=5:
    print(a)
    a+=1
else:
    print("end")

end

In [10]:
def abc():
    print("hello")

In [21]:
a=abc
a(10)

TypeError: abc() missing 1 required positional argument: 'b'

In [20]:
def abc(a,b):
    return a+b

In [23]:
def abc(a,b):
    print(a,b)

In [25]:
a=abc
a(b=10,a=20)

20 10

In [29]:
def abc(a,b):
    return a,b,[1,2,3],{"a":50}

In [34]:
a,b,c,d=abc(5,2)
print(a,b,c,d)

5 2 [1, 2, 3] {'a': 50}

In [36]:
def abc():
    pass

In [38]:
def abc(*a):
    print(a)
abc([1,2])

([1, 2],)

In [40]:
abc(1,2)

(1, 2)

In [44]:
a=[1,2,3]
b=["a","b"]

In [46]:
list(zip(a,b))

[(1, 'a'), (2, 'b')]

In [51]:
for x,y in zip(a,b):
    print(x,y)

1 a
2 b

In [54]:
s="Reno is the third-most populous city in Nevada after Las Vegas and Henderson and the most populous  city in the state outside the Las Vegas Valley,"

In [59]:
[x/2 for x in [y*1 for y in [z*2 for z in range(10)]]]

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [73]:
[ x for x  in enumerate(s.split())]

[(0, 'Reno'),
 (1, 'is'),
 (2, 'the'),
 (3, 'third-most'),
 (4, 'populous'),
 (5, 'city'),
 (6, 'in'),
 (7, 'Nevada'),
 (8, 'after'),
 (9, 'Las'),
 (10, 'Vegas'),
 (11, 'and'),
 (12, 'Henderson'),
 (13, 'and'),
 (14, 'the'),
 (15, 'most'),
 (16, 'populous'),
 (17, 'city'),
 (18, 'in'),
 (19, 'the'),
 (20, 'state'),
 (21, 'outside'),
 (22, 'the'),
 (23, 'Las'),
 (24, 'Vegas'),
 (25, 'Valley,')]

In [81]:
a=lambda *x:x*2

In [83]:
a(2,2)

(2, 2, 2, 2)

In [84]:
[2,2]*2

[2, 2, 2, 2]