In [ ]:
##pandas

In [ ]:
1. pandas is library built on top of numpy
2. it allows for fast analysis and data cleaning and prepration
3. built in visualization features
4. can work with data from wide variety of sources

In [2]:
import numpy as np

In [2]:
import pandas as pd

In [36]:
my_list = [1,2,3]
np_arr = np.array(my_data)

In [27]:
pd.Series(data=my_list)

0    1
1    2
2    3
dtype: int64

In [37]:
labels = ['a','b','c']

In [38]:
pd.Series(data=my_list, index=labels)

a    1
b    2
c    3
dtype: int64

In [33]:
np_arr

array([10, 20, 30])

In [30]:
pd.Series(np_arr)

0    10
1    20
2    30
dtype: int32

In [31]:
my_dict = {'a':10,'b':20,'c':30} 
my_dict

In [32]:
pd.Series(my_dict)

a    10
b    20
c    30
dtype: int64

In [ ]:
my_dict

In [39]:
ser_data = [10,20,30,30]
ser_arr = np.array(ser_data)

In [40]:
series_data = pd.Series(ser_arr,['Delhi','Mumbai','Mohali','Chandigarh'])

In [41]:
series_data

Delhi         10
Mumbai        20
Mohali        30
Chandigarh    30
dtype: int32

In [ ]:
## data frames

In [42]:
from numpy.random import randn

In [43]:
np.random.seed(2)

In [44]:
ser_data = [[500,45455121,5],[300,6545643543,5],[650,8847451,4.5]]
ser_arr = np.array(ser_data)
ser_arr.shape
#ser_arr = np.reshape(ser_arr, (1,len(ser_arr)))

(3, 3)

In [45]:
cities = ['mohali','chandigarh','panchkula']

In [46]:
attribs = ['area','population','rating']

In [ ]:
##creating df

In [47]:
df = pd.DataFrame(data=ser_arr, index=cities, columns=attribs)

In [48]:
df

             area    population  rating
mohali      500.0  4.545512e+07     5.0
chandigarh  300.0  6.545644e+09     5.0
panchkula   650.0  8.847451e+06     4.5

In [ ]:
df['area'] #column name, type check, multiple

In [ ]:
df['density'] = df['population']/df['area']

In [ ]:
df

In [ ]:
##deletion

In [ ]:
df.drop('density',axis=1)

In [ ]:
df

In [ ]:
df.drop('density',axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.drop('mohali')

In [ ]:
df.shape

In [ ]:
##slicing and selection

In [ ]:
df.loc['mohali','area']   #by row, column names

In [ ]:
df.loc[['mohali','chandigarh'],['area']]

In [ ]:
df.iloc[0:2]            #by index

In [ ]:
##conditional selection

In [ ]:
df

In [ ]:
df < 5

In [ ]:
df[df < 5]

In [ ]:
df['rating'] < 5

In [ ]:
df[df['rating'] < 5]

In [ ]:
df[(df['rating'] > 4 ) & (df['area'] >= 500)]

In [ ]:
df

In [ ]:
df.reset_index()

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
df.set_index('area',inplace=True)

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.loc[500]

In [3]:
confusion_matrix = [[1,3,2],[3,4,6],[1,6,9]]

rows=['one', 'two', 'three']

np_confusion_matris = np.array(confusion_matrix)
x = 0
for data in confusion_matrix:
    y = 0
    for data1 in data:
        print(f'row:{rows[x]}, data1: {rows[y]}')
        y=y+1
    x=x+1

row:one, data1: one
row:one, data1: two
row:one, data1: three
row:two, data1: one
row:two, data1: two
row:two, data1: three
row:three, data1: one
row:three, data1: two
row:three, data1: three